<div class="w-full h-[56px] text-white flex items-center px-[16px]" style="background-color: var(--primary-color);">
    <div class="flex items-center">
        <img src="/images/RDDT.png" alt="logo" class="w-[32px] h-[32px] mr-2">
        <h1 class="text-[22px] font-bold" style="font-family: 'Reddit Sans', sans-serif;">reddit</h1>
    </div>
    <div>

    </div>
    <div>
        <div class="w-7 h-4 bg-[#2a3236]"></div>
    </div>
</div>