<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit - Dive into anything </title>

    <link rel="stylesheet" href="/css/output.css">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:wght@400;700&display=swap" rel="stylesheet">



</head>

<style>
    :root {
        --primary-color: #0E1113;
    }
</style>

<body style="background-color: var(--primary-color);">
    <%- include('./partials/userNavbar') %>
        <%- body %>
</body>

</html>